.bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px;
	color: var(--status-information-label, #fff);
	background: var(--status-information, #3b9ef7);
	backdrop-filter: blur(16px);

	&_info {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px;

    > span {
      color: white;
    }
	}

  svg {
    margin-right: 10px;
  }
}

.callName {
	font-size: 14px;
  color: white;
}

.callDuration {
	font-size: 13px;
  color: white;
}
