.callHistory {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.noRecentBox {
	width: 100%;
	height: 100%;
}

.recent {
	width: 100%;
	height: 100%;
	display: flex;
}

.header {
	// position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

.rightCont {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}
