@import "./../abstracts/variables";

@font-face {
	font-family: poppins_bold;
	src: url("./../../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
	font-family: poppins_semibold;
	src: url("./../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: poppins_medium;
	src: url("./../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
	font-family: poppins_regular;
	src: url("./../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box !important;
	line-height: unset !important;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	font-display: swap;
	font-family: "Poppins";
	max-width: 100vw;
}

ul,
li {
	list-style: none;
	list-style-type: none;
}

img {
	vertical-align: middle;
}

button {
	cursor: pointer;
	background: none;
}

a,
p,
span,
li,
div,
button,
input,
textarea {
	font-family: poppins_regular !important;
}

input {
	border: none;
}

.Wrapper {
	margin: auto;
}
