$primary-400: #3e9cf4;
$primary-500: #1480e1;
$primary-600: #0c6dc7;
$primary-700: #0a579f;
$primary-800: #074177;

$accent-green-100: #f5feec;
$accent-green-300: #d5faaf;
$accent-green-500: #96dd3c;
$accent-green-600: #75c322;
$accent-green-700: #5ba718;
$accent-green-800: #4e8b19;
$accent-green-900: #3f6614;
$accent-green-1000: #1a2b08;

$accent-red-100: #ffebeb;
$accent-red-300: #ffb2b2;
$accent-red-500: #f84f4f;
$accent-red-600: #ee3939;
$accent-red-700: #cc2937;
$accent-red-800: #992730;
$accent-red-900: #661414;
$accent-red-1000: #2f0404;

$accent-purple-100: #f4ecfe;
$accent-purple-300: #d0b0fb;
$accent-purple-500: #b06ef7;
$accent-purple-600: #944af5;
$accent-purple-900: #381466;
$accent-purple-1000: #160132;

$accent-blue-100: #ecf5fe;
$accent-blue-300: #afd6fa;
$accent-blue-500: #59aef8;
$accent-blue-600: #3b9ef7;
$accent-blue-800: #2a619d;
$accent-blue-1000: #021b31;

$accent-yellow-100: #fffaeb;
$accent-yellow-300: #ffecb2;
$accent-yellow-500: #f7d53b;
$accent-yellow-600: #f5c400;
$accent-yellow-900: #745302;
$accent-yellow-1000: #322401;

$accent-orange-100: #fff3eb;
$accent-orange-300: #ffd3b2;
$accent-orange-500: #ff9433;
$accent-orange-600: #f26d0d;
$accent-orange-900: #663714;
$accent-orange-1000: #331500;

$neutral-0: #ffffff;
$neutral-10: #f7f9fc;
$neutral-20: #eef2f7;
$neutral-30: #e3eaf2;
$neutral-40: #c8d3e0;
$neutral-50: #91a0b5;
$neutral-60: #6c7a8b;
$neutral-80: #373d47;
$neutral-100: #24282e;
$neutral-110: #191c1f;
$neutral-120: #0d1011;

$grey-20: #ebecef;
$grey-50: #aeb5bd;
$grey-60: #9298a0;
$grey-70: #7b828a;
$grey-80: #5c6168;
$grey-100: #1f2023;

$opacity-dark-10: #91a0b519;

$opacity-blue-10: #198af019;
$opacity-blue-20: #198af033;

$opacity-green-10: #75c32219;
$opacity-green-20: #75c32233;

$opacity-red-10: #f2545419;
$opacity-red-20: #f2545433;

$opacity-neutral-100-10: #24282e19;
$opacity-neutral-100-30: #24282e4c;
$opacity-neutral-120-70: #0d1011b2;
$opacity-neutral-120-80: #0d1011cc;

// additional
$grey-hover-light1: #f4f5f8;
$grey-hover-dark2: #25292e;

$grey-scroll-light: #949ba7;
$grey-scroll-dark: #2a2c30;

$linear-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50.52%);
$overlay-primary: rgba(36, 40, 46, 0.1);
