$primary-color-100: #d5eafc;
$primary-color-200: #abd4fa;
$primary-color-300: #80bff7;
$primary-color-400: #3e9cf4;
$primary-color-500: #1480e1;
$primary-color-600: #0c6dc7;
$primary-color-700: #0a579f;
$primary-color-800: #074177;
$primary-color-900: #052c50;
$primary-color-1000: #021628;

$red-color-100: #ffebeb;
$red-color-200: #ffcccc;
$red-color-300: #ffb2b2;
$red-color-400: #fa8989;
$red-color-500: #f84f4f;
$red-color-600: #ee3939;
$red-color-700: #cc2937;
$red-color-800: #992730;
$red-color-900: #661414;
$red-color-1000: #2f0404;

$orange-color-100: #fff3eb;
$orange-color-200: #ffe0cc;
$orange-color-300: #ffd3b2;
$orange-color-400: #fab784;
$orange-color-500: #ff9433;
$orange-color-600: #f26d0d;
$orange-color-700: #c5591c;
$orange-color-800: #9b4b1e;
$orange-color-900: #663714;
$orange-color-1000: #331500;

$yellow-color-100: #fffaeb;
$yellow-color-200: #fff2cc;
$yellow-color-300: #ffecb2;
$yellow-color-400: #fae08f;
$yellow-color-500: #f7d53b;
$yellow-color-600: #f5c400;
$yellow-color-700: #d29700;
$yellow-color-800: #b0820d;
$yellow-color-900: #745302;
$yellow-color-1000: #322401;

$green-color-100: #f5feec;
$green-color-200: #e5fccf;
$green-color-300: #d5faaf;
$green-color-400: #c1f091;
$green-color-500: #96dd3c;
$green-color-600: #75c322;
$green-color-700: #5ba718;
$green-color-800: #4e8b19;
$green-color-900: #3f6614;
$green-color-1000: #1a2b08;

$blue-color-100: #ecf5fe;
$blue-color-200: #cfe5fc;
$blue-color-300: #afd6fa;
$blue-color-400: #90caf5;
$blue-color-500: #59aef8;
$blue-color-600: #3b9ef7;
$blue-color-700: #2b7bd4;
$blue-color-800: #2a619d;
$blue-color-900: #143f66;
$blue-color-1000: #021b31;

$purple-color-100: #f4ecfe;
$purple-color-200: #e3cffc;
$purple-color-300: #d0b0fb;
$purple-color-400: #c198f8;
$purple-color-500: #b06ef7;
$purple-color-600: #944af5;
$purple-color-700: #7231d7;
$purple-color-800: #5828a1;
$purple-color-900: #381466;
$purple-color-1000: #160132;

$neutral-color-0: #ffffff;
$neutral-color-10: #f7f9fc;
$neutral-color-20: #eef2f7;
$neutral-color-30: #e3eaf2;
$neutral-color-40: #c8d3e0;
$neutral-color-50: #91a0b5;
$neutral-color-60: #6c7a8b;
$neutral-color-70: #4c5562;
$neutral-color-80: #373d47;
$neutral-color-90: #2d333b;
$neutral-color-100: #24282e;
$neutral-color-110: #191c1f;
$neutral-color-120: #0d1011;

$grey-color-10: #f5f6f7;
$grey-color-20: #ebecef;
$grey-color-30: #d7dade;
$grey-color-40: #c2c7ce;
$grey-color-50: #aeb5bd;
$grey-color-60: #9298a0;
$grey-color-70: #7b828a;
$grey-color-80: #5c6168;
$grey-color-90: #3e4145;
$grey-color-100: #1f2023;

$opacity-primary-10: rgba(25, 138, 240, 0.1);
$opacity-primary-20: rgba(25, 138, 240, 0.2);
$opacity-primary-30: rgba(25, 138, 240, 0.3);
$opacity-primary-40: rgba(25, 138, 240, 0.4);
$opacity-primary-50: rgba(25, 138, 240, 0.5);
$opacity-primary-60: rgba(25, 138, 240, 0.6);
$opacity-primary-70: rgba(25, 138, 240, 0.7);
$opacity-primary-80: rgba(25, 138, 240, 0.8);
$opacity-primary-90: rgba(25, 138, 240, 0.9);

$opacity-red-10: rgba(242, 84, 84, 0.1);
$opacity-red-20: rgba(242, 84, 84, 0.2);
$opacity-red-30: rgba(242, 84, 84, 0.3);
$opacity-red-40: rgba(242, 84, 84, 0.4);
$opacity-red-50: rgba(242, 84, 84, 0.5);
$opacity-red-60: rgba(242, 84, 84, 0.6);
$opacity-red-70: rgba(242, 84, 84, 0.7);
$opacity-red-80: rgba(242, 84, 84, 0.8);
$opacity-red-90: rgba(242, 84, 84, 0.9);

$opacity-neutral-10: rgba(145, 160, 181, 0.1);
$opacity-neutral-20: rgba(145, 160, 181, 0.2);
$opacity-neutral-30: rgba(145, 160, 181, 0.3);
$opacity-neutral-40: rgba(145, 160, 181, 0.4);
$opacity-neutral-50: rgba(145, 160, 181, 0.5);

$color: (
	/* primary tokens */ primary-default: $primary-color-600,
	primary-hover: $primary-color-700,
	primary-active: $primary-color-800,
	primary-disabled: $neutral-color-40,

	/* background */ background-primary: $neutral-color-0,
	background-secondary: $neutral-color-0,
	background-tertiary: $neutral-color-10,
	background-quaternary: $neutral-color-10,
	background-emphasis: $neutral-color-30,
	background-hover: $opacity-neutral-10,
	background-active: $opacity-primary-10,
	background-disabled: $neutral-color-10,
	background-tinted: $blue-color-100,
	background-danger: $red-color-100,
	background-danger-active: $opacity-red-10,
	background-emphasis-strong: $neutral-color-120,

	/* border tokens  */ border-primary: $neutral-color-50,
	border-secondary: $neutral-color-40,
	border-tertiary: $neutral-color-30,
	border-quaternary: $neutral-color-20,
	border-hover: $primary-color-500,
	border-active: $primary-color-500,
	border-danger: $red-color-600,
	border-disabled: $neutral-color-40,

	/* text tokens  */ text-primary: $grey-color-100,
	text-secondary: $grey-color-70,
	text-tertiary: $grey-color-60,
	text-disabled: $neutral-color-40,
	text-danger: $red-color-600,
	text-on-color: $neutral-color-0,
	text-on-color-disabled: $neutral-color-0,
	text-link: $primary-color-500,

	/* icon tokens  */ icon-primary: $neutral-color-60,
	icon-emphasis: $neutral-color-110,
	icon-accent: $primary-color-500,
	icon-disabled: $neutral-color-40,
	icon-on-color: $neutral-color-0,
	icon-color-disabled: $neutral-color-0,

	/* support tokens  */ support-danger-default: $red-color-600,
	support-danger-hover: $red-color-700,
	support-danger-active: $red-color-800,
	support-approve-default: $green-color-600,
	support-approve-hover: $green-color-700,
	support-approve-active: $green-color-800,

	/* status tokens  */ status-success: $green-color-600,
	status-warning: $yellow-color-600,
	status-information: $blue-color-600,
	status-danger: $red-color-600,
	status-disabled: $neutral-color-50,

	/* Accent Tokens  */ accent-red-primary: $red-color-600,
	accent-red-secondary: $red-color-300,
	accent-red-tertiary: $red-color-100,
	accent-red-label: $neutral-color-0,
	accent-orange-primary: $orange-color-600,
	accent-orange-secondary: $orange-color-300,
	accent-orange-tertiary: $orange-color-100,
	accent-orange-label: $neutral-color-0,
	accent-yellow-primary: $yellow-color-600,
	accent-yellow-secondary: $yellow-color-300,
	accent-yellow-tertiary: $yellow-color-100,
	accent-yellow-label: $neutral-color-0,
	accent-green-primary: $green-color-600,
	accent-green-secondary: $green-color-300,
	accent-green-tertiary: $green-color-100,
	accent-green-label: $neutral-color-0,
	accent-blue-primary: $blue-color-600,
	accent-blue-secondary: $blue-color-300,
	accent-blue-tertiary: $blue-color-100,
	accent-blue-label: $neutral-color-0,
	accent-purple-primary: $purple-color-600,
	accent-purple-secondary: $purple-color-300,
	accent-purple-tertiary: $purple-color-100,
	accent-purple-label: $neutral-color-0,
	accent-grey-primary: $neutral-color-50,
	accent-grey-secondary: $neutral-color-30,
	accent-grey-tertiary: $neutral-color-10,
	accent-grey-label: $neutral-color-0,

	/* overlay tokens  */ overlay-primary: rgba(36, 40, 46, 0.1),
	overlay-secondary: rgba(36, 40, 46, 0.3)
);

$padding: (
	p-sm: 8px,
	p-base: 10px,
	p-mid: 15px,
	p-lg: 20px,
);

$font-size: (
	f-sm: 12px,
	f-mid: 14px,
);

$sc-lg: 1250px;
$border-radius: 3px;

@media (prefers-color-scheme: dark) {
	$color: (
		/* primary tokens */ primary-default: $primary-color-500,
		primary-hover: $primary-color-600,
		primary-active: $primary-color-700,
		primary-disabled: $neutral-color-80,

		/* background */ background-primary: $neutral-color-120,
		background-secondary: $neutral-color-110,
		background-tertiary: $neutral-color-110,
		background-quaternary: $neutral-color-100,
		background-emphasis: $neutral-color-80,
		background-hover: $opacity-neutral-10,
		background-active: $opacity-primary-20,
		background-disabled: $neutral-color-110,
		background-tinted: $blue-color-1000,
		background-danger: $red-color-1000,
		background-danger-active: $opacity-red-20,
		background-emphasis-strong: $neutral-color-10,
		/* border tokens  */ border-primary: $neutral-color-60,
		border-secondary: $neutral-color-80,
		border-tertiary: $neutral-color-100,
		border-quaternary: $neutral-color-110,
		border-hover: $primary-color-400,
		border-active: $primary-color-400,
		border-danger: $red-color-500,
		border-disabled: $neutral-color-80,

		/* text tokens  */ text-primary: $grey-color-20,
		text-secondary: $grey-color-60,
		text-tertiary: $grey-color-80,
		text-disabled: $neutral-color-80,
		text-danger: $red-color-500,
		text-on-color: $neutral-color-0,
		text-on-color-disabled: $neutral-color-120,
		text-link: $primary-color-400,

		/* icon tokens  */ icon-primary: $grey-color-50,
		icon-emphasis: $neutral-color-10,
		icon-accent: $primary-color-400,
		icon-disabled: $neutral-color-80,
		icon-on-color: $neutral-color-0,
		icon-color-disabled: $neutral-color-80,

		/* support tokens  */ support-danger-default: $red-color-500,
		support-danger-hover: $red-color-600,
		support-danger-active: $red-color-700,
		support-approve-default: $green-color-600,
		support-approve-hover: $green-color-700,
		support-approve-active: $green-color-800,

		/* status tokens  */ status-success: $green-color-500,
		status-warning: $yellow-color-500,
		status-information: $blue-color-500,
		status-danger: $red-color-500,
		status-disabled: $neutral-color-50,

		/* Accent Tokens  */ accent-red-primary: $red-color-500,
		accent-red-secondary: $red-color-900,
		accent-red-tertiary: $red-color-1000,
		accent-red-label: $red-color-1000,
		accent-orange-primary: $orange-color-500,
		accent-orange-secondary: $orange-color-900,
		accent-orange-tertiary: $orange-color-1000,
		accent-orange-label: $orange-color-1000,
		accent-yellow-primary: $yellow-color-500,
		accent-yellow-secondary: $yellow-color-900,
		accent-yellow-tertiary: $yellow-color-1000,
		accent-yellow-label: $yellow-color-1000,
		accent-green-primary: $green-color-500,
		accent-green-secondary: $green-color-900,
		accent-green-tertiary: $green-color-1000,
		accent-green-label: $green-color-1000,
		accent-blue-primary: $blue-color-500,
		accent-blue-secondary: $blue-color-900,
		accent-blue-tertiary: $blue-color-1000,
		accent-blue-label: $blue-color-1000,
		accent-purple-primary: $purple-color-500,
		accent-purple-secondary: $purple-color-900,
		accent-purple-tertiary: $purple-color-1000,
		accent-purple-label: $purple-color-1000,
		accent-grey-primary: $neutral-color-60,
		accent-grey-secondary: $neutral-color-80,
		accent-grey-tertiary: $neutral-color-100,
		accent-grey-label: $neutral-color-100,

		/* overlay tokens  */ overlay-primary: rgba(13, 16, 17, 0.7),
		overlay-secondary: rgba(13, 16, 17, 0.8)
	);
}
