.search {
	position: relative;
	// margin-bottom: 5px;
	display: flex;
	gap: 5px;
	align-items: center;
	// background-color: red;
	width: 100%;

	& input {
		background: var(--background-tertiary);
		padding: 7px 12px 7px 32px;
		flex: 1 0 0;
		border-radius: 8px;
		border: 1px solid var(--border-secondary);
		width: 100%;
		color: var(--text-secondary);
		font-size: 0.95em;
	}

	& span {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		// background-color: red;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
