@import "./../../../sass/abstracts/variables";

.search {
	position: relative;
	margin-bottom: 15px;
	display: flex;
	gap: 5px;
	align-items: center;

	& input {
		// background: var(--background-primary, #fff);
		background: map-get($color, background-primary);
		padding: 7px 12px 7px 32px;
		// align-items: center;
		flex: 1 0 0;

		border-radius: 8px;
		// border: 1px solid var(--border-secondary, #c8d3e0);
		border: 1px solid map-get($color, border-secondary);
		// background: var(--background-tertiary, #f7f9fc);
		background: map-get($color, background-tertiary);

		width: 100%;
	}

	& svg {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
	}
}
