.body {
	padding: 15px 30px;

	width: 100%;
	height: calc(100% - 54px);

	// background-color: green;

	h2 {
		color: var(--text-secondary, #5c6168);

		/* Caption 2/Regular */
		font-family: Poppins;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: 14px; /* 127.273% */
		letter-spacing: -0.2px;
		padding: 15px 15px;
	}
}
