.dashboardWrapper {
	position: relative;
	width: 100%;
	height: 100vh;
}

.dashboard {
	display: flex;
	// height: 100%;
	height: 100vh;
	width: 100%;
	position: relative;
}

.contact {
	width: 400px;
}

.dialpad {
	width: calc(100% - 400px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 900px) {
	.contact {
		display: none;
	}

	.dialpad {
		width: 100%;
	}
}
