.dialer {
	width: 100%;
	height: 100vh;

	&_detailsBox {
		background: var(--accent-blue-tertiary);
		position: relative;
		overflow: hidden;

		& .backgroundImg {
			position: absolute;
			top: 0;
			right: 0;

			width: 100%;
			height: 100%;
			z-index: -1;

			filter: blur(32px);
		}

		& .backgroundColor {
			width: 100%;
			height: 100%;
			z-index: -10;
			position: absolute;
			color: #ecf5fe;
		}
	}

	&_details {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		padding-top: 200px;
		padding-bottom: 50px;
		height: 50vh;
	}

	&_profile {
		flex-shrink: 0;
		border-radius: 48px;
		background: var(--accent-blue-primary, #3b9ef7);
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--accent-blue-label, #fff);
		font-size: 32px;
		
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 96px;
			height: 96px;
			font-size: 0.85em;
			background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50.52%);
		}
	}

	h1 {
		font-size: 28px;
		color: #1f2023;
	}

	&_number {
		font-size: 20px;
		color: #5c6168;
	}

	&_dialing {
		color: #5c6168;
	}

	&_timer {
		border-radius: 22px;
		border: 1px solid  #e3eaf2;
		background: #fff;
		padding: 4px 10px;
		color: #1f2023;
	}

	&_text {
		font-size: 11px;
		color: #1f2023;
	}

	&_box {
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 80px;
	}

	&_actionBox {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	&_action {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		position: relative;
	}

	&_icon {
		display: flex;
		width: 84px;
		height: 84px;
		justify-content: center;
		align-items: center;

		border-radius: 48px;
		cursor: pointer;
	}

	&_control {
		width: 64px;
		height: 64px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		cursor: pointer;
	}

	&_endButton {
		background: #ee3939;

		border-radius: 50%;
	}
}
