.header {
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--border-tertiary, #e3eaf2);
  backdrop-filter: blur(16px);
  opacity: 0.8;
  background: var(--background-primary, #FFF);

  h3 {
    font-size: 1.15em;
  }
}