@import "./../../sass/abstracts/variables";

.profileMenu {
	width: 100%;
	height: 100vh;
	flex-shrink: 0;
	background: map-get($color, overlay-primary);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profileBox {
	width: 460px;
	padding: 15px;
	border-radius: 8px;
	background: map-get($color, background-primary);
	/* ◻️ Light/action_shadow */
	box-shadow: 0px 0px 16px 0px map-get($color, dark-box-shadow);
	margin-top: -100px;
}

.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: map-get($color, text-primary);
}

.close {
	padding: 10px;
	cursor: pointer;
}

.heading {
	padding: 10px;
	color: map-get($color, grey-color-60);
}


