.clio {
	// background-color: var(--background-emphasis-strong);
	background-color: var(--background-secondary);

	position: absolute;
	bottom: 0;
	width: 100%;

	&_active {
		height: calc(100% - 80px);
	}
}

.dropdown {
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-secondary);
	background-color: var(--background-emphasis-strong);
	padding: 10px;
}

.chevron {
	cursor: pointer;
	svg {
		width: 30px;
		height: 30px;
	}
}

.active {
	rotate: 180deg;
}
