@import "./../../../sass/abstracts/colors";

.contactDetails {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 54px;

	&_box {
		width: 550px;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px;
	}
}

.contactInfo {
	overflow: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rowBox {
	display: flex;
	padding: 4px 0px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 8px;
	background: var(--background-tertiary);
	width: 100%;
}

.row {
	display: flex;
	justify-content: space-between;
	padding: 7px 16px;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.contactInfoText {
	color: $primary-600;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.iconBox {
	display: flex;
	gap: 8px;

	& span {
		display: flex;
		padding: 7px;
		justify-content: center;
		align-items: center;
		gap: 4px;
		border-radius: 8px;
		background: $primary-600;
		cursor: pointer;
	}
}

.callHistory {
	overflow: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	p {
		font-size: 11px;
		padding: 2px 4px;
		color: var(--text-secondary);
	}
}

.noHistory_box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.noHistory {
	width: 280px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cardLabel {
	font-size: 13px;
	color: var(--text-secondary);
}

.cardValue {
	color: var(--text-primary);
	font-size: 14px;
}

.deleteRecord {
	color: $accent-red-600;
	text-align: left;
	width: 100%;
	font-size: 13px;
	padding-left: 15px;
	font-weight: 600;
}
