.msgDiv {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;

	&_active {
		background-color: var(--background-hover);
		padding-right: 5px;
	}
}

.left {
	width: calc(100%);
}

.receiveDoc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
	align-self: stretch;
	padding-top: 5px;

	div {
		display: flex;

		padding: 12px 16px;
		align-items: flex-end;
		gap: 10px;

		border-radius: 0px 18px 18px 18px;
		background: var(--background-emphasis, #e3eaf2);

		color: var(--text-on-color, #fff);

		/* Caption 1/Regular */

		font-size: 13px;
		line-height: 18px; /* 138.462% */
		letter-spacing: -0.2px;

		width: fit-content;
		max-width: 80%;
	}

	.details {
		display: flex;
		flex-direction: column;

		span {
			color: var(--text-primary, #1f2023);

			/* Caption 1/Regular */
			font-size: 13px;
			line-height: 18px; /* 138.462% */
			letter-spacing: -0.2px;
		}

		b {
			color: var(--text-secondary, #5c6168);

			/* Footnote/Regular */
			font-size: 13px;
			line-height: 18px; /* 138.462% */
			letter-spacing: -0.5px;
		}
	}
}
