/* range 2 */
.rangeInput {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: pointer;
	outline: none;
	/* border-radius: 15px; */
	height: 6px;
	/* background: #ccc; */
	border-radius: 2px;
	background: var(--background-emphasis, #e3eaf2);
}

.rangeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 15px;
	width: 15px;
	/* background-color: #f50; */

	background: var(--primary-default, #0c6dc7);
	border-radius: 50%;
	border: none;
	transition: 0.2s ease-in-out;
}

.rangeInput::-moz-range-thumb {
	height: 15px;
	width: 15px;
	/* background-color: #f50; */

	background: var(--primary-default, #0c6dc7);
	border-radius: 50%;
	border: none;
	transition: 0.2s ease-in-out;
}

.rangeInput::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 8px rgba(12, 109, 199, 0.1);
}
.rangeInput:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px rgba(12, 109, 199, 0.2);
}
.rangeInput:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px rgba(12, 109, 199, 0.2);
}

.rangeInput::-moz-range-thumb:hover {
	box-shadow: 0 0 0 8px rgba(12, 109, 199, 0.1);
}
.rangeInput:active::-moz-range-thumb {
	box-shadow: 0 0 0 10px rgba(12, 109, 199, 0.2);
}
.rangeInput:focus::-moz-range-thumb {
	box-shadow: 0 0 0 10px rgba(12, 109, 199, 0.2);
}

.value2 {
	font-size: 20px;
	width: 50px;
	text-align: center;
}

.range {
	display: flex;
	align-items: center;
	/* margin-bottom: 1rem; */
}
