.historyCard {
	display: flex;
	width: 100%;
	align-items: center;
	// add gap-x-8 px equivalent here
	height: 54px;
	border-radius: 8px;
	padding: 7px 16px 7px 16px;

	&:hover {
		background: rgba(25, 138, 240, 0.1);
	}

	&_circle {
		display: flex;
		padding: 9px;
		// height: 38px;
		justify-content: center;
		align-items: center;
		margin-right: 8px;

		border-radius: 32px;
		background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50.52%);
		background: #e3eaf2;

		& span {
			color: #fff;
		}
	}

	&_info {
		> p {
			font-size: 14px;
			color: #1f2023;
		}
	}
}

.cardInfoDesc {
	display: flex;
	align-items: center;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		padding:2px 4px;
		border: 1px solid #e3eaf2;
		margin-right: 4px;
	}
}

.descCount {
	font-size: 11px;
	color: #5c6168;
}

.descText {
	font-size: 13px;
	color: #5c6168;
}

.userIcon {
	height: unset;
	padding-bottom: 2px;
	svg {
		width: 12px;
		height: unset;
	}
}
