@import "./../../../sass/abstracts/variables";

.historyCard {
	display: flex;
	width: 100%;
	align-items: center;
	// add gap-x-8 px equivalent here
	height: 54px;
	border-radius: 8px;
	padding: 7px 16px 7px 16px;

	&:hover {
		background: map-get($color, background-active);
	}

	&_circle {
		display: flex;
		padding: 9px;
		// height: 38px;
		justify-content: center;
		align-items: center;
		margin-right: 8px;
		border-radius: 32px;
		// background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50.52%);
		// background: map-get($color, border-tertiary);
		background: var(--border-tertiary);

		& span {
			color: var(--background-primary);
		}
	}

	&_info {
		> p {
			font-size: 14px;
			color: var(--text-primary);
		}
	}
}

.cardInfoDesc {
	display: flex;
	align-items: center;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		padding: 2px 4px;
		border: 1px solid var(--border-tertiary);
		margin-right: 4px;
	}
}

.descCount {
	font-size: 11px;
	color: var(--text-tertiary);
}

.descText {
	font-size: 13px;
	color: var(--text-tertiary);
}

.userIcon {
	height: unset;
	padding-bottom: 2px;
	svg {
		width: 12px;
		height: unset;
	}
}
