.noVoiceBox{
    // background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: calc(100vh - 54px)
    height: 100%;
}

.main{
    height: 100vh;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 100%;
    // height: calc(100vh - 54px) ;
    margin-top: 54px;
    height: 100%;
    z-index:0 ;
}

.header{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 3; 
}

.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

.deleteVoicemail{
    // width: calc(100% - 60px);
    background: var(--overlay-primary, rgba(36, 40, 46, 0.10));
    // height: calc(100% - 54px);
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}