.main {
	height: 100%;
	width: 100%;
}

.header {
	width: 100%;
	z-index: 3;
	height: fit-content;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	height: calc(100% - 54px);
	z-index: 0;

	padding-bottom: 64px;
}

.noVoiceBox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	height: 100%;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 3;
}
