@import "./../../../sass/abstracts/variables";

.videoCall {
	padding: 25px;
	&_video {
		border-radius: 12px;
		overflow: hidden;
		width: 100%;
		height: 700px;
		position: relative;
	}

	&_myVideo {
		position: absolute;
		bottom: 70px;
		right: 30px;
		width: 240px;
		height: 142px;
		flex-shrink: 0;
		// fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
		strokewidth: 1px;
		stroke: map-get($color, background-primary);
		filter: drop-shadow(0px 0px 16px map-get($color, dark-box-shadow));
		border: 1px solid map-get($color, background-primary);
		border-radius: 8px;
		overflow: hidden;
	}

	&_descriptionBox {
		width: 100%;
		height: 64px;
		flex-shrink: 0;
		position: absolute;
		bottom: 0;
		opacity: 0.8;
		background: map-get($color, background-primary);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
	}

	&_timer {
		display: flex;
		padding: 4px 10px;
		border-radius: 22px;
		border: 1px solid map-get($color, border-tertiary);
		background: map-get($color, background-primary);
		font-size: 14px;
		color: map-get($color, text-primary);
		margin-right: 30px;
	}

	&_box {
		height: 25vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 80px;
	}

	&_actionBox {
		display: flex;
		justify-content: center;
		// align-items: center;
		gap: 30px;
	}

	&_action {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
}

.callName {
	font-size: 14px;
	color: map-get($color, text-primary);
}

.callNumber {
	font-size: 13px;
	color: map-get($color, text-secondary-2);
}

.callInfoRight {
	display: flex;
	align-items: center;
}

.iconWrap {
	display: flex;
	width: 84px;
	height: 84px;
	// padding: 26px;
	justify-content: center;
	align-items: center;
	border-radius: 48px;
	background: map-get($color, background-tertiary);
}

.videoCall_endButton {
	width: 64px;
	height: 64px;
	background: map-get($color, support-danger-default);
	border-radius: 50%;
}
