@import './../../../sass/abstracts/variables';

.noContact {
	width: 100%;
	height: calc(100% - 54px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	// background-color: red;

	&_box {
		width: 280px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		align-items: center;
		text-align: center;
		transform: translateY(-50%);
	}

	h3 {
		font-size: 1.3em;
	}

	p {
		color: map-get($color, text-secondary);
	}
}
