.overlay {
	width: 100vw;
	height: 100%;
	background: var(--overlay-primary, rgba(36, 40, 46, 0.1));
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.box {
	position: fixed;
	top: 0px;
	right: 0;

	width: 600px;
	height: 100%;
	flex-shrink: 0;

	background: var(--background-secondary, #fff);

	/* ◻️ Light/action_shadow */
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
	padding: 0 24px;
}

.header {
	width: 100%;
	height: 54px;
	flex-shrink: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	backdrop-filter: blur(16px);

	padding: 17px 0px;
	color: var(--text-primary, #1f2023);

	/* Subheadline/Bold */
	font-size: 16px;
	font-weight: 600;
	line-height: 20px; /* 125% */
	letter-spacing: -0.5px;
}

.close {
	cursor: pointer;
}

.contact {
	padding: 9px 0;

	color: var(--text-secondary, #5c6168);

	/* Caption 2/Regular */
	font-size: 11px;
	line-height: 14px; /* 127.273% */
	letter-spacing: -0.2px;

	span {
		display: flex;
		gap: 5px;
		align-items: center;
	}
}

.contactCardBox {
	height: calc(100% - 54px - 36px - 35px - 5px);
	overflow: auto;
}

.startConversation {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	div {
		color: var(--text-primary, #1f2023);
		text-align: center;

		/* Body/Bold */
		font-size: 14px;
		font-weight: 500;
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.5px;

		margin-bottom: 8px;
	}

	p {
		color: var(--text-secondary, #5c6168);
		text-align: center;

		/* Body/Regular */
		font-size: 14px;
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.5px;
		margin-bottom: 15px;
	}

	button {
		display: flex;
		padding: 11px 12px;
		justify-content: center;
		align-items: center;
		gap: 4px;

		border-radius: 8px;
		background: var(--primary-default, #0c6dc7);

		color: var(--text-on-color, #fff);

		/* Body/Bold */
		font-size: 14px;
		font-weight: 500;
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.5px;
	}
}
