@import "./../../../sass/abstracts/variables";

.overlay {
	width: 100vw;
	height: 100%;
	background: map-get($color, overlay-primary);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.addContact {
	padding: 25px;
	position: fixed;
	top: 0px;
	right: 0;
	width: 560px;
	height: 100vh;
	flex-shrink: 0;
	background: map-get($color, background-primary);
	display: flex;
	flex-direction: column;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 35px;

	&_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.contact_data {
	overflow: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 35px;
	height: 100%;

	&::-webkit-scrollbar {
		width: 2px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 5px;
	}

	::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}

	::-webkit-scrollbar-corner {
		background-color: #ccc;
	}
}

.profile {
	width: 74px;
	height: 74px;
	flex-shrink: 0;
	border-radius: 48px;
	background: map-get($color, border-tertiary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.uploadButton {
	display: flex;
	padding: 7px 8px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: 1px solid map-get($color, border-primary);
	width: 105px;
	height: 32px;
}

.box_heding {
	margin-bottom: 10px;
}
.inputBox {
	display: flex;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid map-get($color, border-secondary);
	padding: 11px 0px;
	gap: 8px;
	align-self: stretch;

	& label {
		color: map-get($color, text-secondary-2);
		width: fit-content;
		white-space: nowrap;
	}

	& input {
		// outline: none;
		width: 100%;
	}
}

.buttonBox {
	display: flex;
	gap: 10px;
	justify-content: flex-end;

	button {
		justify-content: center;
		align-items: center;
		gap: 4px;
		width: fit-content;
		height: 32px;
		display: flex;
		border-radius: 8px;
		padding: 16px;
	}
}

.cancel {
	border-radius: 8px;
	border: 1px solid map-get($color, border-primary);
}

.save {
	border: 1px solid transparent;
	background: map-get($color, primary-default);

	// span {
	// 	padding: 17px;
	// }
}

select {
	width: 100%;
	background: none;
}

.headerTitle {
	font-size: 16px;
	font-weight: 600;
	color: map-get($color, text-primary);
}

.error_box {
	border: 1px solid red;
	padding: 15px;
	border-radius: 6px;

	h3,
	li {
		color: rgb(255, 76, 76);
		font-size: 0.85em;
	}

	ul {
		margin-top: 10px;
	}

	ul,
	li {
		list-style-type: circle;
		padding-left: 20px;
	}
}
