@import "./../../../sass/abstracts/variables";

.aboutRingplan {
	width: 100%;
	height: 100vh;
	flex-shrink: 0;
	background: var(--overlay-primary);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutBox {
	width: 460px;
	padding: 25px;
	border-radius: 8px;
	background: var(--background-secondary);
	box-shadow: 0px 0px 16px 0px map-get($color, dark-box-shadow);
}

.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-primary);
	margin-bottom: 20px;

	h3 {
		font-size: 16px;
		font-weight: 600;
	}
}

.close {
	padding: 10px;
}

.updateBox {
	color: map-get($color, text-link);
	margin-bottom: 20px;
	font-size: 14px;
	display: flex;
	flex-direction: column;

	button {
		border-radius: 8px;
		background: var(--background-tertiary);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 20px;
		margin-bottom: 2px;
	}
}

.appInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.appVersion {
	font-size: 14px;
	color: var(--text-primary);
	margin: 15px 0 5px 0;
}

.appDesc {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;

	span {
		font-size: 13px;
		color: var(--text-tertiary);
		margin-left: 4px;
	}
}

.moreInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;

	&_links {
		font-size: 13px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: map-get($color, primary-default);

		// replace p with an appropriate link tag / component (Nav)
		p {
			cursor: pointer;
			margin-bottom: 5px;
		}
	}
}

.infoFooter {
	font-size: 13px;
	color: var(--text-tertiary);
	margin-top: 10px;
}
