@import './../../../sass/abstracts/variables';

.noContact {
	width: 100%;
	height: calc(100% - 54px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;

	&_box {
		width: 280px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		align-items: center;
		text-align: center;
		transform: translateY(-50%);
	}

	&_head {
		color: map-get($color, text-primary);
		font-size: 20px;
		font-weight: 600 !important;
	}

	&_info {
		font-size: 14px;
		color: map-get($color, text-secondary-2);
	}
}
