.loginScreen {
  background: var(--primary-default);
  width: 100vw;
  height: 100vh;
  position: relative;

  &_voice {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_ringplanBtn {
    width: 450px;
    height: 65px;
    margin: auto;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: var(--background-primary);
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--primary-default);
    border: 1px solid var(--background-primary);

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_extensionBtn {
    width: 450px;
    height: 65px;
    margin: auto;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-on-color);
    border: 1px solid var(--text-on-color);
    transition: all 0.3s;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background: var(--background-primary);
      color: var(--primary-default);
    }
  }
}
