.noVoice {
	width: 280px;
	height: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&_boldText {
		color: var(--text-primary, #1F2023);
		margin-top: 24px;
		margin-bottom: 8px;
	}

	&_text {
		color: var(--text-secondary, #5C6168);
		max-width: 280px;
		text-align: center;
	}
}

// @media screen and (max-width:1440px) {
//     .noVoice{
//         left: calc(100vw - 280px  - 43vw + 77px) ;
//     }
// }

// @media screen and (max-width:1200px) {
//     .noVoice{
//         left: calc(100vw - 280px  - 41vw + 77px) ;
//     }
// }

// @media screen and (max-width:900px) {
//     .noVoice{
//         left: calc(100vw - 280px  - 39.5vw + 77px) ;
//     }
// }

// @media screen and (max-width:768px) {
//     .noVoice{
//         left: calc(100vw - 280px  - 38.5vw + 77px) ;
//     }
// }

// @media screen and (max-width:600px) {
//     .noVoice{
//         left: calc(100vw - 280px  - 33vw + 77px) ;
//     }
// }
