@import "./../../../sass/abstracts/variables";

.sidebarBox {
	height: 100%;
	background: var(--overlay-primary);
	overflow-x: hidden;
	// position: absolute;
	z-index: 10;
}
.sidebar {
	border: 1px solid var(--border-tertiary);
	background: var(--background-primary);
	//   margin: 15px;
	padding: 15px;
	height: 100%;
	max-width: 280px;
	// uncomment the line below to make the sidebar animation smoother
	// transition: all 0.3s;
	width: 64px;

	&_logoIcon {
		margin-bottom: 20px;
	}

	&_tabBox {
		height: calc(100% - 46px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// align-items: end;
	}
	&_topTab {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&_tab {
		height: 32px;
		// width: 240px;
		padding: 6px 8px 6px 8px;
		border-radius: 8px;
		// background: var(--background-active, rgba(25, 138, 240, 0.1));
		font-size: 14px;

		display: flex;
		// justify-content: center;
		align-items: center;
		gap: 10px;
		color: var(--text-primary);

		&:hover {
			background: map-get($color, opacity-neutral-10);
			color: var(--text-link);
		}
		&:visited {
			background: var(--background-active);
			color: var(--text-link);
		}
		&:active {
			background: var(--background-active);
			color: var(--text-link);
		}
	}

	&_tabExpanded {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&_icon {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 15px;
			z-index: 100;
			width: 5px;
			height: 5px;
			background: var(--support-danger-default);
			border-radius: 100%;
		}
	}

	&_unreadMsg {
		color: var(--text-primary);
		text-align: center;
		display: inline-flex;
		padding: 1px 6px;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background: var(--support-danger-default);
		font-size: 11px;
	}
}

.active_tab {
	background: var(--background-active);
	color: var(--text-link) !important;
}

.spinnerMain {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	padding: 10px 14px;
	border-radius: 10px;
	background: var(--border-tertiary);
	cursor: default;

	> p {
		font-size: 0.9em;
		width: 0px;
		overflow: hidden;
		cursor: default;
		transition: 0.3s;
		color: var(--text-secondary);
	}

	&:hover {
		p {
			width: unset;
			margin-left: 10px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.sidebar,
	.sidebarBox {
		display: none;
	}
}
