.sidebarBox {
	height: 100%;
	background: var(--overlay-primary, rgba(36, 40, 46, 0.1));

	overflow-x: hidden;
	// position: absolute;
	z-index: 10;
}
.sidebar {
	border-right: 1px solid var(--border-tertiary, #e3eaf2);
	background: var(--background-secondary, #fff);

	//   margin: 15px;
	padding: 15px;
	height: 100%;
	max-width: 280px;
	transition: all 0.3s;
	width: 64px;

	&_logoIcon {
		margin-bottom: 20px;
	}

	&_tabBox {
		height: calc(100% - 46px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// align-items: end;
	}
	&_topTab {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&_tab {
		height: 32px;
		// width: 240px;
		padding: 6px 8px 6px 8px;
		border-radius: 8px;
		// background: var(--background-active, rgba(25, 138, 240, 0.1));
	font-size: 14px;

		display: flex;
		// justify-content: center;
		align-items: center;
		gap: 10px;
		color: var(--text-primary, #1f2023);

		&:hover {
			background: var(--background-hover, rgba(145, 160, 181, 0.1));
			color: var(--text-link, #1480e1);
		}
		&:visited {
			background: var(--background-active, rgba(25, 138, 240, 0.1));
			color: var(--text-link, #1480e1);
		}
		&:active {
			background: var(--background-active, rgba(25, 138, 240, 0.1));
			color: var(--text-link, #1480e1);
		}

	}

	&_tabExpanded {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&_icon {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 15px;
			z-index: 100;
			width: 5px;
			height: 5px;
			background: var(--status-danger, #ee3939);
			border-radius: 100%;
		}
	}

	&_unreadMsg {
		color: var(--text-on-color-disabled, #fff);
		text-align: center;
		display: inline-flex;
		padding: 1px 6px;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background: var(--status-danger, #ee3939);
		font-size: 11px;
	}
}

.active_tab {
	background: var(--background-active, rgba(25, 138, 240, 0.1));
	color: var(--text-link, #1480e1) !important;
}