@import "./../../../sass/abstracts/variables";

.sidebarBox {
	height: 100%;
	background: map-get($color, overlay-primary);
	overflow-x: hidden;
	// position: absolute;
	z-index: 10;
}
.sidebar {
	border-right: 1px solid map-get($color, border-tertiary);
	background: map-get($color, background-primary);
	//   margin: 15px;
	padding: 15px;
	height: 100%;
	max-width: 280px;
	transition: all 0.3s;
	width: 64px;

	&_logoIcon {
		margin-bottom: 20px;
	}

	&_tabBox {
		height: calc(100% - 46px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// align-items: end;
	}
	&_topTab {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&_tab {
		height: 32px;
		// width: 240px;
		padding: 6px 8px 6px 8px;
		border-radius: 8px;
		// background: var(--background-active, rgba(25, 138, 240, 0.1));
		font-size: 14px;

		display: flex;
		// justify-content: center;
		align-items: center;
		gap: 10px;
		color: map-get($color, text-primary);

		&:hover {
			background: map-get($color, opacity-neutral-10);
			color: map-get($color, text-link);
		}
		&:visited {
			background: map-get($color, background-active);
			color: map-get($color, text-link);
		}
		&:active {
			background: map-get($color, background-active);
			color: map-get($color, text-link);
		}
	}

	&_tabExpanded {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&_icon {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 15px;
			z-index: 100;
			width: 5px;
			height: 5px;
			background: map-get($color, support-danger-default);
			border-radius: 100%;
		}
	}

	&_unreadMsg {
		color: map-get($color, background-primary);
		text-align: center;
		display: inline-flex;
		padding: 1px 6px;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background: map-get($color, support-danger-default);
		font-size: 11px;
	}
}

.active_tab {
	background: map-get($color, background-active);
	color: map-get($color, text-link) !important;
}

@media only screen and (max-width: 500px) {
	.sidebar, .sidebarBox {
		display: none;
	}
}