.overlay {
	width: 100vw;
	height: 100%;
	background: var(--overlay-primary, rgba(36, 40, 46, 0.1));
	// background-color: red;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.addContact {
	padding: 25px;
	position: fixed;
	top: 0px;
	right: 0;

	width: 560px;
	height: 100vh;
	flex-shrink: 0;

	//   opacity: 0.8;
	background: var(--background-secondary, #fff);

	display: flex;
	flex-direction: column;

	z-index: 1000;

	display: flex;
	flex-direction: column;
	gap: 35px;
}
.contact_data {
	overflow: auto;
	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 35px;

	height: 100%;

	/* Style the main scrollbar */
	&::-webkit-scrollbar {
		width: 2px; /* Width of the scrollbar */
		// background-color: red;
	}

	/* Style the thumb (the draggable part of the scrollbar) */
	::-webkit-scrollbar-thumb {
		background-color: #888; /* Color of the thumb */
		border-radius: 5px; /* Rounded corners for the thumb */
		// background-color: red;
	}

	/* Style the track (the area where the thumb moves) */
	::-webkit-scrollbar-track {
		background-color: #f0f0f0; /* Color of the track */
		// background-color: red;
	}

	/* Style the scrollbar corner (if needed) */
	::-webkit-scrollbar-corner {
		background-color: #ccc; /* Color of the corner */
		// background-color: red;
	}
}

.profile {
	width: 74px;
	height: 74px;
	flex-shrink: 0;

	border-radius: 48px;
	background: var(--accent-grey-secondary, #e3eaf2);

	display: flex;
	align-items: center;
	justify-content: center;
}

.uploadButton {
	display: flex;
	padding: 7px 8px;
	justify-content: center;
	align-items: center;
	// gap: 4px;

	border-radius: 8px;
	border: 1px solid var(--border-primary, #91a0b5);

	width: 105px;
	height: 32px;
}
.box {
}
.box_heding {
	margin-bottom: 10px;
}
.inputBox {
	display: flex;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid var(--border-secondary, #c8d3e0);

	padding: 11px 0px;
	// align-items: flex-start;
	gap: 8px;
	align-self: stretch;

	& label {
		color: var(--text-secondary, #5c6168);
		width: fit-content;
		white-space: nowrap;
	}

	& input {
		// outline: none;
		width: 100%;
	}
}

.buttonBox {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.cancel {
	display: flex;
	padding: 7px 8px;
	justify-content: center;
	align-items: center;
	gap: 4px;

	border-radius: 8px;
	border: 1px solid var(--border-primary, #91a0b5);

	height: 32px;
	width: fit-content;

	cursor: pointer;
}

.save {
	display: flex;
	padding: 7px 8px;
	justify-content: center;
	align-items: center;
	gap: 4px;

	border-radius: 8px;
	border: 1px solid transparent;
	background: var(--primary-default, #0c6dc7);

	height: 32px;

	width: fit-content;

	cursor: pointer;
}

select {
	width: 100%;
	background: none;
}
