.contactDetails {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&_box {
		width: 550px;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px;
	}
}

.edit {
	display: inline-flex;
	padding: 7px 8px;
	justify-content: center;
	align-items: center;
	gap: 4px;

	border-radius: 8px;
	border: 1px solid var(--border-primary, #91a0b5);

	// height: 60px;
}

.profile {
	width: 54px;
	height: 54px;
	flex-shrink: 0;

	border-radius: 48px;
	background: var(--accent-purple-primary, #944af5);
}

.contactButton {
	display: flex;
	width: 100%;
	padding: 2px;
	align-items: flex-start;

	border-radius: 8px;
	border: 1px solid var(--border-tertiary, #e3eaf2);
	background: var(--background-tertiary, #f7f9fc);

	& span {
		display: flex;
		padding: 5px 10px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex: 1 0 0;

		border-radius: 6px;
		// background: var(--primary-default, #0c6dc7);

		/* Blue Button Shadow */
		// box-shadow: 0px 4px 4px 0px rgba(12, 109, 199, 0.15);

		color: var(--text-secondary, #5c6168);

		cursor: pointer;
	}
}

.contactInfo {
	overflow: auto;
	width: 100%;
	// height: 100%;

	display: flex;
	flex-direction: column;
	gap: 20px;

	// background-color: red;

	// padding: 15px;
	// position: fixed;
	// top: 0px;
	// right: 0;
}

.rowBox {
	display: flex;
	padding: 4px 0px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;

	border-radius: 8px;
	background: var(--background-tertiary, #f7f9fc);

	width: 100%;
}

.row {
	display: flex;
	justify-content: space-between;
	padding: 7px 16px;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.iconBox {
	display: flex;
	gap: 8px;

	& span {
		display: flex;
		padding: 7px;
		justify-content: center;
		align-items: center;
		gap: 4px;

		border-radius: 8px;
		background: var(--primary-default, #0c6dc7);

		cursor: pointer;
	}
}

.callHistory {
	overflow: auto;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	gap: 20px;
}
.noHistory_box {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.noHistory {
	width: 280px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
