@import "./../../../sass/abstracts/variables";

.historyCard {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 54px;
	align-self: stretch;
	border-radius: 8px;
	padding: 7px 16px 7px 16px;

	&_left {
		display: flex;
		align-items: center;
	}

	&:hover {
		background: var(--background-active);
	}

	&_circle {
		margin-right: 8px;
		border-radius: 32px;
		display: flex;
		padding: 9px;
		justify-content: center;
		align-items: center;
		background: var(--border-tertiary);

		& svg {
			color: var(--background-primary);
		}
	}

	&_right {
		p {
			font-size: 13px;
			text-align: right;
			color: map-get($color, grey-color-60);
		}
	}

	&_info {
		> p {
			font-size: 14px;
			color: var(--text-primary);
		}
	}
}

.cardMissedInfo {
	display: flex;
	// add gap-2 tailwind sass's equivalent here
	align-items: center;

	&_icon {
		margin-right: 5px;

		svg {
			width: 14px;
		}
	}

	&_count {
		display: flex;
		align-items: center;
		// add gap-x-[1px] equivalent here
		justify-content: center;
		border-radius: 6px;
		padding: 0 2px;
		margin-right: 5px;
		// change to appropriate coloring
		border: 1px solid var(--support-danger-default) !important;

		span {
			font-size: 11px;
			font-weight: 500;
		}
	}

	&_time {
		font-size: 13px;
	}
}

.user_icon {
	height: unset;
	svg {
		width: 11px;
		height: unset;
	}
}
