.bottomNav {
	display: flex;
	padding: 8px 0;
	justify-content: space-between;
	z-index: 100;
	background: var(--background-tertiary);

	a {
		display: flex;
		flex-direction: column;
		font-size: 0.63em;
		align-items: center;
		width: 20%;
		justify-content: center;
		color: var(--text-secondary);
		font-weight: 500;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-bottom: 5px;
		stroke: var(--icon-primary);

		path {
			stroke: var(--icon-primary);
		}
	}
}

.unread_icon {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 15px;
		z-index: 250;
		width: 5px;
		height: 5px;
		background: var(--support-danger-default);
		border-radius: 100%;
	}
}

.moreOpt {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		display: flex;
		flex-direction: column;
		font-size: 0.63em;
		align-items: center;
		justify-content: center;
		color: var(--text-secondary);
	}
}

.moreOptIn {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 300;
	// bottom: -300px;
	// width: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background: var(--background-tertiary);
	border-top: 1px solid var(--border-tertiary);
	box-shadow: 0 0 8px 2px var(--box-shadow-primary);
	display: none;
	width: 100%;

	> div {
		position: relative;
		width: 100%;
		height: 100%;
	}

	button {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.moreOptIn_on {
	display: block;
}

.more_wrapper {
	display: flex;
	padding: 60px 20px;
	flex-wrap: wrap;
	justify-content: center;

	a {
		width: 100px;
		margin-top: 15px;
		margin-bottom: 5px;
		text-align: center;

		svg,
		img {
			width: 25px;
			height: 25px;
		}
	}

	.sidebar_icon {
		margin-bottom: 5px;
		// position: relative;

		// &::before {
		// 	content: "a";
		// 	position: absolute;
		// 	top: 0px;
		// 	left: 15px;
		// 	z-index: 1000;
		// 	width: 5px;
		// 	height: 5px;
		// 	background: var(--support-danger-default);
		// 	border-radius: 100%;
		// }

		path {
			stroke: var(--icon-primary);
		}
	}
}

.active_tab {
	color: var(--text-link) !important;

	svg,
	path {
		stroke: var(--text-link) !important;
		color: var(--text-link) !important;
	}
}

// .moreOptIn_remove {
// 	animation: slidedown 0.3s;
// }

// .moreOptIn_on {
// 	animation: slideup 0.3s;
// }

@keyframes slidedown {
	from {
		bottom: 0px;
	}

	to {
		bottom: -300px;
	}
}

@keyframes slideup {
	from {
		bottom: -300px;
	}

	to {
		bottom: 0px;
	}
}
