@import "./../../../sass/abstracts/colors";

.contact {
	height: 54px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 10px;
	width: 100%;

	&_circle {
		width: 38px;
		height: 38px;
		flex-shrink: 0;
		font-size: 16px;
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--background-primary);
		border-radius: 32px;
		background: var(--accent-blue-primary, #3b9ef7);
	}

	&_name {
		display: flex;
		align-items: center;
		gap: 5px;

		> span {
			color: var(--text-primary);
		}
	}

	&:hover {
		background: var(--background-active);
	}
}
