@import "./../../../sass/abstracts/variables";

.popUp {
	width: 100%;
	height: 100vh;
	flex-shrink: 0;
	background: var(--overlay-primary);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
}

.inboundCall {
	display: flex;
	width: 420px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 1px solid map-get($color, border-grey);
	box-shadow: 0px 8px 32px 0px map-get($color, boxshadow-dark);
	background: var(--background-primary);
	padding: 24px;
	text-align: center;

	& p,
	h1,
	> span {
		width: 100%;
	}

	h1 {
		font-size: 28px;
		color: var(--text-primary);
	}

	p {
		font-size: 16px;
		color: var(--text-tertiary);
	}

	> span {
		font-size: 14px;
		color: var(--text-tertiary);
	}
}

.topBtns {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	> div {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 7px;
	}
}
.signal_box {
	width: 100%;
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.profile_box {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	text-align: center;
}

.profile {
	width: 96px;
	height: 96px;
	flex-shrink: 0;
	font-size: 32px;
	border-radius: 48px;
	background: map-get($color, accent-blue-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--background-primary);
}

.button_box {
	display: flex;
	width: 272px;
	padding: 4px;
	justify-content: space-between;
	align-items: center;
	border-radius: 55px;
	border: 1px solid var(--border-tertiary);
	background: var(--border-tertiary);
	margin: auto;

	button {
		width: 84px;
		height: 84px;
		flex-shrink: 0;
		border-radius: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.silent_box {
	margin: auto;

	span {
		margin-left: 10px;
	}

	svg,
	path {
		stroke: var(--icon-primary);
	}
}

.silent {
	display: flex;
	padding: 8px 9px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 8px;
	border: 1px solid var(--border-primary);
	cursor: pointer;
	> span {
		font-size: 13px;
		color: var(--text-primary);
	}
}

.answerCall {
	background: map-get($color, green-color-600) !important;
}

.cancelCall {
	background: map-get($color, support-danger-default);
}

.bottomBtns {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	gap: 25px;
}

@media only screen and (max-width: 600px) {
	.button_box {
		button {
			width: 75px;
			height: 75px;
		}

		svg {
			width: 40px;
			height: 40px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.popUp {
		.inboundCall {
			width: 100%;
			height: 100%;
		}
	}

	.inboundCall {
		align-items: center;
		padding: 50px 0;
	}
}

@media only screen and (max-width: 400px) {
	.button_box {
		button {
			width: 70px;
			height: 70px;
		}

		svg {
			width: 35px;
			height: 35px;
		}
	}
}

@media only screen and (max-height: 630px) {
	.profile {
		width: 85px;
		height: 85px;
		font-size: 1.6em;
	}

	.profile_box {
		svg {
			width: 38%;
		}
	}

	.bottomBtns {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 570px) {
	.inboundCall {
		> div {
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-width: 535px) {
	.profile {
		width: 65px;
		height: 65px;
		font-size: 1.3em;
	}

	.profile_box {
		svg {
			width: 33%;
		}
	}

	.button_box {
		width: 220px;

		button {
			width: 60px;
			height: 60px;
		}

		svg {
			width: 30px;
			width: 30px;
		}
	}

	.inboundCall {
		gap: 0px;

		> div {
			margin-bottom: 0;
		}

		p {
			margin-bottom: 2px;
		}
	}

	.silent {
		padding: 5px 6px;
	}
}
