@import "./../../../sass/abstracts/colors";

.card {
	width: 984px;
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	border-bottom: 1px solid var(--border-tertiary);
	padding: 8px 12px;
	height: fit-content;
	position: relative;

	&_mainCont {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 4px;
		padding: 8px 12px;
	}

	&_cont1 {
		display: flex;
		column-gap: 10px;
		align-items: center;
		height: fit-content;

		> input {
			cursor: pointer;
		}
	}

	&_unread {
		width: 8px;
		height: 8px;
		background-color: $accent-blue-600;
		border-radius: 50%;
	}

	&_name {
		font-size: 13px;
		color: var(--text-primary);
	}

	&_cont2 {
		display: flex;
		column-gap: 8px;
		align-items: center;
		height: fit-content;
	}

	&_ext {
		width: 127px;
		font-size: 13px;
		color: var(--text-primary);
	}

	&_duration {
		width: 88px;
		font-size: 13px;
		color: var(--text-primary);
	}

	&_time {
		width: 72px;
		font-size: 13px;
		color: var(--text-primary);
	}

	&_ext {
		width: 127px;
	}

	&_icons {
		display: flex;
		column-gap: 4px;

		& button {
			padding: 4px;
		}
	}

	&_transcript {
		display: flex;
		flex-direction: column;
		row-gap: 8px;

		padding: 12px 16px;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		border-radius: 8px;
		background: var(--background-tertiary);
	}

	&_head {
		color: var(--text-secondary);
		font-size: 11px;
	}

	&_des {
		color: var(--text-primary);
		font-size: 13px;
	}
}

.pauseIconBtn {
	svg {
		height: 33px;
		width: 27px;
	}
}

.transcriptHighlight {
	display: block;
	padding-left: 50px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	p {
		font-size: 0.8em;
		color: #5c5e6e;
	}
}

.voicemailActive {
	background: var(--hover-primary);
}

@media only screen and (max-width: 1140px) {
	.card {
		width: 100%;
		padding: 8px 12px;
	}
}

.smlInf {
	display: none;
	align-items: center;

	span {
		font-size: 0.7em;
	}

	> div {
		width: 3px !important;
		height: 3px !important;
		background: #777;
		margin: 0 6px;
		border-radius: 50%;
	}
}

@media only screen and (max-width: 840px) {
	.smlInf {
		display: flex;
	}

	.card_cont1 {
		button {
			width: 55px;
			height: 55px;

			svg,
			img {
				width: 100% !important;
				height: 100% !important;
			}
		}
	}

	.card_ext {
		display: none;
	}

	.card_time {
		display: none;
	}
}

@media only screen and (max-width: 630px) {
	.card_duration {
		display: none;
	}
}

@media only screen and (max-width: 530px) {
	.card_phone,
	.card_transcriptIcon {
		display: none;
	}
}
