@import "./../../../sass/abstracts/colors";

.contactDetails {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&_box {
		width: 550px;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px;
	}

	&_header {
		display: flex;
		align-items: center;

		> button {
			display: flex;
			align-items: center;
			margin-right: 10px;
		}
	}

	&_headerLeft {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1;
	}
}

.headerLeft {
	display: flex;
	align-items: center;
}

.edit {
	display: flex;
	padding: 7px 8px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 8px;
	border: 1px solid var(--border-primary);

	span {
		font-size: 13px;
		color: var(--text-primary);
		margin-left: 7px;
	}

	svg {
		stroke: var(--icon-primary);
	}
}

.profile {
	width: 54px;
	height: 54px;
	flex-shrink: 0;
	border-radius: 48px;
	// background: map-get($color, accent-purple-primary);
	background: var(--accent-purple-primary);
	margin-right: 10px;

	span {
		border-radius: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		color: var(--background-primary);
		background: $linear-bg;
		height: 100%;
	}
}

.profileInfo {
	p {
		font-size: 20px;
		color: var(--text-primary);
	}

	span {
		font-size: 14px;
		color: var(--text-tertiary);
	}
}

.contactButton {
	display: flex;
	width: 100%;
	padding: 2px;
	align-items: flex-start;
	font-size: 13px;
	border-radius: 8px;
	border: 1px solid var(--border-tertiary);
	background: var(--background-tertiary);

	& span {
		display: flex;
		padding: 5px 10px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex: 1 0 0;
		border-radius: 6px;
		color: var(--text-tertiary);
		cursor: pointer;
	}
}

.contactInfo {
	overflow: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rowBox {
	display: flex;
	padding: 4px 0px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 8px;
	background: var(--background-tertiary);
	width: 100%;
}

.row {
	display: flex;
	justify-content: space-between;
	padding: 7px 16px;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.iconBox {
	display: flex;
	gap: 8px;

	& span {
		display: flex;
		padding: 3px;
		justify-content: center;
		align-items: center;
		gap: 4px;
		border-radius: 8px;
		background: $primary-600;
		cursor: pointer;

		svg {
			width: 14px;
			height: 14px;
		}
	}
}

.callHistory {
	overflow: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: var(--background-secondary);
	border-radius: 12px;
}
.noHistory_box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.noHistory {
	width: 280px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		color: var(--text-secondary);
	}
}

.rowValue {
	font-size: 14px;
	font-weight: 400;
	color: #1f2023;
	height: 20px;
}

@keyframes slider {
	from {
		right: -500px;
	}

	to {
		right: 0;
	}
}

.contactDetailsSml {
	animation: slider 0.3s;
}

@media only screen and (max-width: 990px) {
	.contactDetails {
		// display: none;
		display: block;
	}

	.contactDetailsSml {
		display: block;
	}
}

@media only screen and (max-width: 630px) {
	.contactDetails_box {
		width: 100%;
	}
}
