.card {
	display: flex;
	width: 100%;
	align-items: flex-start;

	border-bottom: 1px solid var(--border-tertiary, #e3eaf2);

	span {
		width: 20%;
		text-align: center;

		color: var(--text-primary, #1f2023);
		font-family: Poppins;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 138.462% */
		letter-spacing: -0.2px;

		padding: 11px 0;
	}
}
