@import "./../../../sass/abstracts/variables";

.dialpad {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: auto;

	&_keypad {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}

	&_key2 {
		width: 64px;
		height: 64px;
		border-radius: 48px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		cursor: pointer;
	}

	&_phone {
		background: map-get($color, border-secondary);
	}
}

.dialpad_contactSearch {
	width: 100%;
	height: 150px;
	border-radius: 12px;
	overflow: auto;
	background: var(--background-primary);
	padding: 5px;
	margin-bottom: 40px;

	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-thumb {
		height: 4rem;
		border-radius: 0.5rem;
		border: 4px solid transparent;
		background-clip: content-box;
		background-color: var(--scroll-primary);
	}

	button {
		border-radius: 5px;

		div {
			display: flex;
			justify-content: space-between;
			flex: 1;
			padding-right: 15px;
		}
	}
}

.bgFilter {
	background: var(--background-secondary);
}

@media only screen and (max-height: 800px) {
	.dialpad_contactSearch {
		height: 100px;
	}
}

@media only screen and (max-height: 720px) {
	.dialpad_contactSearch {
		display: none;
	}
}
