.dialpad {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: auto;

	&_keypad {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}

	&_key2 {
		width: 64px;
		height: 64px;
		border-radius: 48px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	
	&_phone {
		background: var(--primary-disabled, #C8D3E0);
	}
}
