.sidecarBar {
	position: absolute;
	top: 0;
	left: 0;

	width: 500px;
	height: 100%;
	flex-shrink: 0;

	background: var(--background-primary, #fff);

	/* ◻️ Light/action_shadow */
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
	z-index: 1000;

	padding: 20px;
}

.topSection {
	margin-bottom: 30px;
	h1 {
		display: flex;
		justify-content: space-between;

		color: var(--text-primary, #1f2023);

		/* Subheadline/Bold */
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px; /* 125% */
		letter-spacing: -0.5px;

		margin-bottom: 20px;

		span {
			display: flex;
			gap: 10px;
		}
	}
}

.tabBox {
	display: flex;
	width: 100%;
	padding: 2px;
	align-items: flex-start;

	border-radius: 8px;
	border: 1px solid var(--border-tertiary, #e3eaf2);
	background: var(--background-tertiary, #f7f9fc);

	span {
		width: 33%;

		display: flex;
		padding: 5px 10px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex: 1 0 0;

		border-radius: 6px;

		color: var(--text-secondary, #5c6168);

		/* Caption 1/Regular */
		font-family: Poppins;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 138.462% */
		letter-spacing: -0.2px;
	}

	.activeTab {
		background: var(--primary-default, #0c6dc7);

		/* Blue Button Shadow */
		box-shadow: 0px 4px 4px 0px rgba(12, 109, 199, 0.15);

		color: var(--text-on-color, #fff);

		/* Caption 1/Bold */
		font-family: Poppins;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px; /* 138.462% */
		letter-spacing: -0.2px;
	}
}

.btmSection {
	width: 100%;
	height: calc(100% - 104px);
}
