.header {
	padding: 30px;
	padding-bottom: 0;
	// background-color: red;
	border-bottom: 1px solid var(--border-tertiary, #e3eaf2);

	/* Blur/Background Blur */
	backdrop-filter: blur(16px);
}

.heading {
	color: var(--text-primary, #1f2023);
	margin-bottom: 10px;
}

.tabBox {
	color: var(--text-secondary, #5c6168);
	display: flex;
	gap: 30px;

	span {
		padding: 15px 0;
		border-bottom: 2px solid transparent;

		&:hover {
			color: var(--text-link, #1480e1);
			border-bottom: 2px solid var(--text-link, #1480e1);
			font-weight: 500;
		}
	}
}
